* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --color-1: #FCA424;
    --color-2: #0DD39D;
    --color-4: #1A1A1A;
    --color-5: #CDCDCD;
    --color-6: #FEFEFE;
}

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    color: #1A1A1A;
}


.flex {
    display: flex;
}

.nav-item.profile {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    object-fit: cover;
    display: block;
}

.bell {
    color: white;
}

nav {

    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;

}

.nav-buttons {
    display: flex;
    gap: 20px;
    align-items: center;

}

ul {
    list-style: none;
    line-height: 1.8;
}

ul a {
    text-decoration: none;
    color: inherit;

}

.help-btn {
    padding: 4px 12px;
    background-color: rgba(255, 255, 255, 0.134);
    backdrop-filter: blur(10px);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

header {
    min-height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/images/steptodown.com158686.jpg');
    background-size: cover;
    background-position: top;
    padding: 10px;
    position: relative;

}

header-part::before {
    content: "";
    inset: 0;
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.759) 30%, transparent 100% 100%);
    /* opacity: .3; */
    z-index: 2;
}

.rectangle-profile-pic {
    background-position: top;
    height: 200px;
    width: 200px;
    border-radius: 7px;
    scale: 1.2;
    position: absolute;
    bottom: -21px;
    left: 55px;
    object-fit: cover;
    object-position: top;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.person-details {
    margin-left: 300px;
}

.logo-container {

    gap: 10px;
    align-items: center;
}

i.fa-solid.fa-comment {
    color: white;

}

.logo {
    color: #FEFEFE;
    line-height: 1.5;
}

.person-details {
    color: #FEFEFE;
    margin-top: 30px;
}

h1 {
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 10px;
    font-weight: 500;
}

button {
    cursor: pointer;
}

.profile-status {
    ackdrop-filter: blur(10px);
    color: rgb(255, 255, 255);
    display: flex;
    border-radius: 5px;
    padding: 25px;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.133);
    margin: 0px;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
    font-variation-settings: normal;
    list-style: outside none none;
}

.progress-bar {
    color: ;
    position: relative;
    width: 100px;
    height: 100px;
}

main,
aside,
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main,
aside,
.tabs-container {
    width: 100%;
    max-width: 1200px;
    margin: 0px 50px;
}

:root {
    --color-1: #FCA424;
    --color-2: #0DD39D;
    --color-4: #1A1A1A;
    --color-5: #CDCDCD;
    --color-6: #FEFEFE;
}

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    color: #1A1A1A;
}


.flex {
    display: flex;
}

.nav-item.profile {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    object-fit: cover;
    display: block;
}

.bell {
    color: white;
}

nav {

    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;

}

.nav-buttons {
    display: flex;
    gap: 20px;
    align-items: center;

}

ul {
    list-style: none;
    line-height: 1.8;
}

ul a {
    text-decoration: none;
    color: inherit;

}

.help-btn {
    padding: 4px 12px;
    background-color: rgba(255, 255, 255, 0.134);
    backdrop-filter: blur(10px);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

header {
    min-height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/images/steptodown.com158686.jpg');
    background-size: cover;
    background-position: top;
    padding: 10px;
    position: relative;

}

.rectangle-profile-pic {
    background-position: top;
    height: 200px;
    width: 200px;
    border-radius: 7px;
    scale: 1.2;
    position: absolute;
    bottom: -21px;
    left: 55px;
    object-fit: cover;
    object-position: top;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.person-details {
    margin-left: 300px;
}

.logo-container {

    gap: 10px;
    align-items: center;
}

i.fa-solid.fa-comment {
    color: white;

}

.logo {
    color: #FEFEFE;
    line-height: 1.5;
}

.person-details {
    color: #FEFEFE;
    margin-top: 30px;
}

h1 {
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 10px;
    font-weight: 500;
}

button {
    cursor: pointer;
}

.profile-status {
    ackdrop-filter: blur(10px);
    color: rgb(255, 255, 255);
    display: flex;
    border-radius: 5px;
    padding: 25px;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.133);
    margin: 0px;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
    font-variation-settings: normal;
    list-style: outside none none;
}

.progress-bar {
    color: ;
    position: relative;
    width: 100px;
    height: 100px;
}



.progress-text {
    display: flex;
    color: white;
    flex-direction: column;
    gap: 10px;
}

.profile-status {
    z-index: 20;
    margin-right: 50px;
    position: relative;
    height: fit-content;
}


.progress-circle {
    position: relative;
    width: 100px;
    height: 100px;
}

.progress-circle::before {
    content: "75%";
    font-family: "JetBrains Mono", monospace;
    font-size: 20px;
    height: 65px;
    width: 65px;
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    top: 17px;
    left: 17px;
    background-color: rgba(255, 255, 255, 0.129);
    position: absolute;
    border-radius: 50%;
}

.progress-circle::after {
    content: "";
    height: 89px;
    width: 89px;
    background-color: transparent;
    position: absolute;
    inset: 0;
    rotate: 45deg;
    border-radius: 50%;
    border-top: 5px solid rgba(255, 255, 255, 0.129);
    border-right: 5px solid var(--color-1);
    border-bottom: 5px solid var(--color-1);
    border-left: 5px solid var(--color-1);
}

.btn-primary-big {
    background-color: var(--color-1);
    border: none;
    padding: 8px 17px;
    color: white;
    margin-top: 8px;
}

.person-image {
    height: 50px;
    width: 50px;
    border-radius: 50%;

}

.tabs-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    justify-content: space-between;
    width: 100%;

    border-bottom: 3px solid black;
    padding-left: 20px;
    border-left: 1px solid silver;
    border-bottom: 1px solid silver;
}

.progress-text {
    display: flex;
    color: white;
    flex-direction: column;
    gap: 10px;
}

.profile-status {
    z-index: 20;
    margin-right: 50px;
    position: relative;
    height: fit-content;
}


.progress-circle {
    position: relative;
    width: 100px;
    height: 100px;
}

.progress-circle::before {
    content: "75%";
    font-family: "JetBrains Mono", monospace;
    font-size: 20px;
    height: 65px;
    width: 65px;
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    top: 17px;
    left: 17px;
    background-color: rgba(255, 255, 255, 0.129);
    position: absolute;
    border-radius: 50%;
}

.progress-circle::after {
    content: "";
    height: 89px;
    width: 89px;
    background-color: transparent;
    position: absolute;
    inset: 0;
    rotate: 45deg;
    border-radius: 50%;
    border-top: 5px solid rgba(255, 255, 255, 0.129);
    border-right: 5px solid var(--color-1);
    border-bottom: 5px solid var(--color-1);
    border-left: 5px solid var(--color-1);
}

.btn-primary-big {
    background-color: var(--color-1);
    border: none;
    padding: 8px 17px;
    color: white;
    margin-top: 8px;
}

.person-image {
    height: 50px;
    width: 50px;
    border-radius: 50%;

}

.person-info {
    align-items: center;
    justify-content: space-between;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.tabs {
    display: flex;
    padding: 10px 15px;
    gap: 94px;
    grid-column: 3 / -1;
    width: 100%;
}

.btn-secondary-md {
    background-color: #0DD39D;
    border: none;
    color: white;
    font-weight: 500;
    padding: 30px 40px;
}

.tab-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    width: 100%;
}

.tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    grid-column: 4 / -1;
    border-bottom: 3px solid black;
    padding-left: 20px;
    border-left: 1px solid silver;
    border-bottom: 1px solid silver;
    padding: 10px 20px;
}

.tabs ul {
    display: flex;
    align-items: center;
    gap: 36px;
    width: 100%;
}

.btn-sm-secondary {
    flex-basis: 100px;
    color: white;
    gap: 5px;
    padding: 8px 0px;
    background-color: var(--color-2);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.tabs ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease;
    position: relative;
    cursor: pointer;
    color: gray;
    position: relative;
}

.active {
    color: #1A1A1A !important;
}

aside {
    grid-column: 1 / 4;
    padding-right: 20px;
}

.aside-heading {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid silver;
    padding: 10px 0px;
}

.aside-title {
    font-weight: 400;
    color: #1A1A1A;
}



.label {
    color: gray;
    margin: 10px 0px;
    margin-top: 15px;
    margin-bottom: 17px;
}

.label-sm {
    font-weight: 500;
    font-size: 12px;
    color: gray;
    margin-top: 15px;
    margin-bottom: 3px;
}

.status-section {
    grid-column: 4/-1;
}

.status-card {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    display: flex;
    position: relative;
    align-items: center;
    background-color: white;
    border-radius: 5px;
}

.person-img-sm {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.text-big {
    font-size: 4rem;
}

.status-card {
    grid-column: span 4;
}

main {
    display: grid;
    width: 100%;
    gap: 20px;
    padding-top: 30px;
    padding-left: 20px;
    grid-template-columns: repeat(12, 1fr);
}