* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --yellow: #fca424;
    --teal: #0dd39d;
    --black: #1a1a1a;

}

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: #1a1a1a;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.nav-item.profile {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    object-fit: cover;
    display: block;
}

.bell {
    color: whiteite;
}

nav {
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
    margin-right: 38px;
}

.nav-buttons {
    display: flex;
    gap: 20px;
    align-items: center;
}

ul {
    list-style: none;
    line-height: 1.8;
}

ul a {
    text-decoration: none;
    color: inherit;
}

.help-btn {
    padding: 4px 12px;
    background-color: rgba(255, 255, 255, 0.134);
    backdrop-filter: blur(10px);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

header {
    min-height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("./assets/images/steptodown.com158686.jpg");
    background-size: cover;
    background-position: top;
    padding: 10px;
    position: relative;
}

header-part::before {
    content: "";
    inset: 0;
    position: absolute;
    background: linear-gradient(180deg,
            rgba(0, 0, 0, 0.759) 30%,
            transparent 100% 100%);
    /* opacity: .3; */
    z-index: 2;
}

.rectangle-profile-pic {
    background-position: top;
    height: 200px;
    width: 200px;
    border-radius: 7px;
    scale: 1.2;
    position: absolute;
    bottom: -21px;
    left: 55px;
    object-fit: cover;
    object-position: top;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.person-details {
    color: #fefefe;
    margin-top: 30px;
    margin-left: 238px;
}

.person-profile {
    display: flex;
    gap: 50px;
}

.logo-container {
    gap: 10px;
    align-items: center;
}

i.fa-solid.fa-comment {
    color: white;
}

.logo {
    color: #fefefe;
    line-height: 1.5;
}


h1 {
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 10px;
    font-weight: 500;
}

button {
    cursor: pointer;
}

.profile-status {
    ackdrop-filter: blur(10px);
    color: rgb(255, 255, 255);
    display: flex;
    border-radius: 5px;
    padding: 25px;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.133);
    margin: 0px;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    font-variation-settings: normal;
    list-style: outside none none;
}

.progress-bar {
    color: ;
    position: relative;
    width: 100px;
    height: 100px;
}

main,
aside,
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

aside,
.tabs-container {
    width: 100%;
    max-width: 1200px;
    margin: 0px 50px;
}


body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: #1a1a1a;
}

.flex {
    display: flex;
}

.nav-item.profile {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    object-fit: cover;
    display: block;
}

.bell {
    color: white;
}

nav {
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
}

.nav-buttons {
    display: flex;
    gap: 20px;
    align-items: center;
}

ul {
    list-style: none;
    line-height: 1.8;
}

ul a {
    text-decoration: none;
    color: inherit;
}

.help-btn {
    padding: 4px 12px;
    background-color: rgba(255, 255, 255, 0.134);
    backdrop-filter: blur(10px);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

header {
    min-height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("./assets/images/steptodown.com158686.jpg");
    background-size: cover;
    background-position: top;
    padding: 10px;
    position: relative;
}

.rectangle-profile-pic {
    background-position: top;
    height: 200px;
    width: 200px;
    border-radius: 7px;
    scale: 1.2;
    position: absolute;
    bottom: -21px;
    left: 55px;
    object-fit: cover;
    object-position: top;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}



i.fa-solid.fa-comment {
    color: white;
}

.logo {
    color: #fefefe;
    line-height: 1.5;
}

h1 {
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 10px;
    font-weight: 500;
}

button {
    cursor: pointer;
}

.profile-status {
    ackdrop-filter: blur(10px);
    color: rgb(255, 255, 255);
    display: flex;
    border-radius: 5px;
    padding: 25px;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.133);
    margin: 0px;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    font-variation-settings: normal;
    list-style: outside none none;
}

.progress-bar {
    color: ;
    position: relative;
    width: 100px;
    height: 100px;
}

.progress-content {
    display: flex;
    color: white;
    flex-direction: column;
    gap: 11px;
}


.progress-circle {
    position: relative;
    width: 100px;
    height: 100px;
}

.progress-circle::before {
    content: "75%";
    font-family: "JetBrains Mono", monospace;
    font-size: 20px;
    height: 65px;
    width: 65px;
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    top: 17px;
    left: 17px;
    background-color: rgba(255, 255, 255, 0.129);
    position: absolute;
    border-radius: 50%;
}


.progress-desc {
    font-size: 14px;
}

h5.pogress-title {
    font-size: 16px;
}

.btn-primary-big {
    background-color: var(--yellow);
    width: 115px;
    border: none;
    padding: 8px 17px;
    color: white;
    margin-top: 8px;
    font-weight: 500;
    border-radius: 5px;
}

.person-image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.tabs-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    justify-content: space-between;
    width: 100%;

    border-bottom: 3px solid var(--black);
    padding-left: 20px;
    border-left: 1px solid silver;
    border-bottom: 1px solid silver;
}

.progress-text {
    display: flex;
    color: white;
    flex-direction: column;
    gap: 5px;
}

.progress-title {
    font-size: 16px;
}

.profile-status {
    z-index: 20;
    position: relative;
    height: fit-content;
}

.progress-circle {
    position: relative;
    width: 100px;
    height: 100px;
}


.progress-circle::after {
    content: "";
    height: 89px;
    width: 89px;
    background-color: transparent;
    position: absolute;
    inset: 0;
    rotate: 45deg;
    border-radius: 50%;
    border-top: 5px solid rgba(255, 255, 255, 0.129);
    border-right: 5px solid var(--yellow);
    border-bottom: 5px solid var(--yellow);
    border-left: 5px solid var(--yellow);
}

.btn-primary-big {
    background-color: var(--yellow);
    border: none;
    padding: 8px 17px;
    color: white;
    margin-top: 8px;
}

.camera-icon {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.camera-icon {
    margin-top: 10px;
}

.camera-icon i {
    backdrop-filter: blur(10px);
    color: white;
    cursor: pointer !important;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.134);
}

.person-image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.person-info {
    align-items: center;
    justify-content: space-between;
    margin: 0 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.tabs {
    display: flex;
    padding: 10px 15px;
    gap: 94px;
    grid-column: 3 / -1;
    width: 100%;
}

.tabs li::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: var(--yellow);
    bottom: -12px;
    left: 0;
    transition: width 0.3s ease;
}

.tabs li:hover::after {
    width: 100%;
}

.tabs li.active::after {
    width: 100%;
}

.btn-secondary-md {
    background-color: #0dd39d;
    border: none;
    color: white;
    font-weight: 500;
    padding: 30px 40px;
}

.tab-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    width: 100%;
}

.tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    grid-column: 4 / -1;
    border-bottom: 3px solid var(--black);
    padding-left: 20px;
    border-left: 1px solid silver;
    border-bottom: 1px solid silver;
    padding: 10px 20px;
}

.tabs ul {
    display: flex;
    align-items: center;
    gap: 27px;
    width: 100%;
}

.btn-sm-secondary {
    flex-basis: 100px;
    color: white;
    gap: 5px;
    padding: 8px 0px;
    background-color: var(--teal);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-right: 50px;
}

.tabs ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease;
    position: relative;
    cursor: pointer;
    color: gray;
    position: relative;
}

.active {
    color: #1a1a1a !important;
}

.active::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--yellow);
    position: absolute;
    bottom: -12px;
    left: 0;
}

aside {
    grid-column: 1 / 4;
    padding-right: 80px;
}

.aside-heading {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid silver;
    padding: 10px 0px;
}

.aside-title {
    font-weight: 400;
    color: #1a1a1a;
}

.label {
    color: gray;
    margin: 10px 0px;
    margin-top: 15px;
    margin-bottom: 17px;
}

.label-sm {
    font-weight: 500;
    font-size: 12px;
    color: gray;
    margin-top: 15px;
    margin-bottom: 3px;
}

.status-section {
    display: contents;
    grid-column: 4/-1;
}

.status-card {
    flex: 1 1 280px;
    /* grow, shrink, min width */
    max-width: 100%;
    min-width: 250px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    display: flex;
    position: relative;
    align-items: center;
    background-color: white;
    border-radius: 5px;

}

.person-img-sm {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.text-big {
    font-size: 4rem;
    font-family: "JetBrains Mono", monospace;
    font-weight: 300;
    padding-right: 20px;
}

.text-md {
    color: gray;
    font-size: 14px;
    margin-bottom: 20px;
    flex-wrap: nowrap;
    text-wrap: nowrap;
}

.status-card {
    grid-column: span 4;
}

main {
    display: grid;
    width: 100%;
    gap: 20px;
    padding-top: 30px;
    padding-left: 20px;
    grid-template-columns: repeat(12, 1fr);
    border-left: 1px solid silver;
    grid-column: 4/-1;
    padding-right: 40px;
}


aside {
    padding-right: 65px;
}

.person-images {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.person-images img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -8px;
}

.text-avtars {
    padding-left: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid silver;
}




.avtar-count {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-image:
        linear-gradient(rgba(13, 211, 158, 0.763), rgba(13, 211, 157, 0.6)),
        /* gradient tint */
        url('./assets/images/person/1.jpg');
    /* avatar image */
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -8px;
    color: white;
    font-weight: 600;
    font-size: 12px;
}

main>section {
    display: contents;
}


.member-card {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px 20px;
    display: flex;
    position: relative;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    grid-column: span 8;
    gap: 20px;
}

.square-profile {
    width: 120px;
    height: 120px;
    border-radius: 5px;
    object-fit: cover;
    aspect-ratio: 1;
}

.member-info li {
    font-size: 14px;
    display: flex;
    width: 100%;
    align-items: center;
    gap: 4px;
    color: #888;
}

.member-name {
    /* color: gray; */
    font-size: 20px;
    margin-bottom: 10px;
    flex-wrap: nowrap;
    text-wrap: nowrap;
}

.btn-primary-md {
    flex-basis: 90px;
    color: white;
    padding: 6px 0px;
    background-color: var(--yellow);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    gap: 5px;
    align-self: end;
    margin-left: auto;
}

.member-card:last-child {
    height: 150px;
}

.activity-section {
    grid-column: 9 / -1;
    grid-row: 2 / span 3;
    padding: 20px;
    border-radius: 5px;
    background: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 14px;
    font-weight: 600;
    color: gray;
    margin-bottom: 10px;
}


.activity-scroll {
    max-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
}

.activity-scroll::-webkit-scrollbar {
    width: 6px;
}

.activity-scroll::-webkit-scrollbar-thumb {
    background-color: var(--yellow);
    border-radius: 10px;
}

/* Items */
.activity {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    flex-shrink: 0;
    margin-top: 7px;
}

.activity-body {

    display: flex;
    flex-direction: column;
}

.activity-title {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 4px;
    color: #000;
}

.act-desc {
    font-size: 13px;
    color: gray;
    margin-bottom: 4px;
}

.text-tiny {
    font-size: 12px;
    color: #888;
}

.dot.blue {
    background-color: #28C5FF;
}

.dot.orange {
    background-color: #FFA629;
}

.dot.green {
    background-color: #0dd39d;
}

.label.activity {
    margin-top: 0px;
    border-bottom: gray solid 1px;
    padding-bottom: 7px;
}

button {
    cursor: pointer;
}

.nav-item {
    cursor: pointer;
}